* {
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}

h1 {
    margin: 6px;
}

.container {
    display: flex;
    height: 680px;
    width: 680px;
}

.dark {
    background: black;
}